@import "tailwindcss";

html {
    background: #FBF8F4;
}

body {
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, label {
    font-family: var(--font-montserrat);
    font-weight: 600;
}

p {
    font-family: var(--font-quicksand);
    font-weight: 300;
}

input, textarea {
    background-color: var(--color-subtlebackground);
}

@theme {
    --font-quicksand: var(--font-quicksand), 'Quicksand', sans-serif;
    --font-pt-sans: 'PT Sans', sans-serif;
    --font-pt-sans-caption: 'PT Sans Caption', sans-serif;
    --font-abhaya: 'Abhaya Libre', serif;
    --font-montserrat: var(--font-montserrat), 'Montserrat', sans-serif;
    --font-script: var(--font-script), 'Hello Radio', cursive;

    --color-creamwhite: #FCF7DF;
    --color-offwhite: #FBF8F4;
    --color-lightblue: #C7D3DB;
    --color-dullbrown: #A79A8A;
    --color-deepbrown: #3E3630;
    --color-onyx: #282D30;
    --color-subtlebackground: #edf1f7;

    --animate-scale-text-hover: scale-text-hover 0.3s ease-out infinite;

    @keyframes scale-text-hover {
        0% {
            transform: scale(0.95);
        }

        100% {
            transform: scale(2);
        }
    }
}